  .heading
  {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div
  {
    float: none;
    padding: 10px;
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  .copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0;
    background-color: lightgray;
    line-height: 3;
    text-align: center;
    width: 100%;
  }
 canvas{
  border: 5px solid lightslategrey;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(252, 252, 64);
  margin-top: 160px;
 }